.mainHome{
    margin: 12% 0 0;
}

.head1{
    font-size: 2.85rem;
    margin-bottom: 17px
}
.hr1{
    width: 1.2%;
    border: 2px solid #10F3A7;
    margin-bottom: 17px
}
.head2{
    font-size: 1.8rem;
    display: inline;
}
.head4{
    font-weight: 400;
    font-size: 1.15rem;
    margin-bottom: 0;
}

.butDiv{
    margin: 1.8%;
}
.but1{
    border: none;
    border: 1.4px solid #10F3A7;
    background-color: #10F3A7;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 10px;
}
.but2{
    border: 1.4px solid black;
    border-radius: 30px;
    padding: 15px 25px;
    margin: 10px;
}

.uploadImg{
    height: 35px;
    position: fixed;
    left: 1%;
    bottom: 2%;
}
.voiceImg{
    margin-top: 4%;
    height: 75px;
}
.penImg{
    height: 35px;
    position: fixed;
    right: 1%;
    bottom: 2%;
}